<style>
  .fill {
    overflow: hidden;
    background-size: cover;
    background-position: center;
    background-image: url('https://i.ytimg.com/vi/HW-sG_8mZNk/maxresdefault.jpg');
    color: #F7F7F7;
    text-shadow: 2px 2px 2px black;
  }
</style>

<div class="container">
  <div class="jumbotron fill">
    <h1>MTGInventory</h1>
    <p>MTGInventory is the easiest way to manage product and streamline your local gaming business.</p>
  </div>
</div>