---
http_interactions:
- request:
    method: get
    uri: http://api.tcgplayer.com/pricing/marketprices/18844
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer p5uSr29yvm_LC6Qdns64gvdfazEat5YzQGB85tYKH1oDHJiHQTmwVN364KA5u2R_02rcwoLV-ebaHVy_JsYHxwC95XhXw2BAwz1tb9HrtC6g-8JyxROvMPHhiP09eO5qik1EgqCHZGkV15OpNme-W5-cbOzLPXZBKe8oHSuuU0S5AyTxyoT_eEl1hzbSawblKKUt4uZsB064cmHFqH9GoHT-7mgsirecke25gZRcBmutOV9qkGrZAfiaUSatbyrVqSXufYKnL_TNp0IdWrly2AW9E1bxny0jgGZtrgLC31MGHRQunZPJ6tNNedbzBrgbp_ZPcA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"success":true,"errors":[],"results":[{"productConditionId":18844,"price":26.18,"lowestRange":10.50,"highestRange":31.49}]}'
  recorded_at: Thu, 24 May 2018 18:52:34 GMT
recorded_with: VCR 4.0.0
