---
http_interactions:
- request:
    method: get
    uri: http://api.tcgplayer.com/v1.9.1/catalog/products?productName=Dream%20Halls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer p5uSr29yvm_LC6Qdns64gvdfazEat5YzQGB85tYKH1oDHJiHQTmwVN364KA5u2R_02rcwoLV-ebaHVy_JsYHxwC95XhXw2BAwz1tb9HrtC6g-8JyxROvMPHhiP09eO5qik1EgqCHZGkV15OpNme-W5-cbOzLPXZBKe8oHSuuU0S5AyTxyoT_eEl1hzbSawblKKUt4uZsB064cmHFqH9GoHT-7mgsirecke25gZRcBmutOV9qkGrZAfiaUSatbyrVqSXufYKnL_TNp0IdWrly2AW9E1bxny0jgGZtrgLC31MGHRQunZPJ6tNNedbzBrgbp_ZPcA
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalItems":1,"success":true,"errors":[],"results":[{"productId":5333,"productName":"Dream
        Halls","image":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/5333_200w.jpg","categoryId":1,"groupId":107,"url":"http://store.tcgplayer.com/magic/stronghold/dream-halls","modifiedOn":"2017-09-14T13:35:32.927","productConditions":[{"productConditionId":18844,"name":"Near
        Mint","language":"English","isFoil":false},{"productConditionId":320851,"name":"Damaged","language":"English","isFoil":false},{"productConditionId":336609,"name":"Moderately
        Played","language":"English","isFoil":false},{"productConditionId":352367,"name":"Heavily
        Played","language":"English","isFoil":false},{"productConditionId":368125,"name":"Lightly
        Played","language":"English","isFoil":false},{"productConditionId":2544550,"name":"Near
        Mint - Chinese (T)","language":"Chinese (T)","isFoil":false},{[...]
