---
http_interactions:
- request:
    method: get
    uri: http://api.tcgplayer.com/v1.9.1/catalog/products?productName=Dream%20Halls
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - bearer LwjgnPx4ex929FPSQEekr99H1LZxBK7oufLDnUKapmXMBvEChexAAk3YENyU53aGFQ3zDC2VljAH7G8_f_iY4xtN6IQRHfSqQCCUHCI88YnJUy1LkCWDvFZpgpfYUrD07LQF7Z8Pj6chRltX4SPr-MWhG7T8YGpt5zyFklRsdMz74xWWPPkOXx02nEHDUaYNRc4YjPom-_-wsV3wFZDOVoXHuRaWz44uZngmwIntBRN0ZWVUoEpRHI1P6xGWgI8RUG05sNmr3J97tc4Tm5j9R8miM4xtK365_dArswwUhYbV2rNB9oXhXe5880RR1-PzYOLppw
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"totalItems":1,"success":true,"errors":[],"results":[{"productId":5333,"productName":"Dream
        Halls","image":"https://6d4be195623157e28848-7697ece4918e0a73861de0eb37d08968.ssl.cf1.rackcdn.com/5333_200w.jpg","categoryId":1,"groupId":107,"url":"http://store.tcgplayer.com/magic/stronghold/dream-halls","modifiedOn":"2017-09-14T13:35:32.927","productConditions":[{"productConditionId":18844,"name":"Near
        Mint","language":"English","isFoil":false},{"productConditionId":320851,"name":"Damaged","language":"English","isFoil":false},{"productConditionId":336609,"name":"Moderately
        Played","language":"English","isFoil":false},{"productConditionId":352367,"name":"Heavily
        Played","language":"English","isFoil":false},{"productConditionId":368125,"name":"Lightly
        Played","language":"English","isFoil":false},{"productConditionId":2544550,"name":"Near
        Mint - Chinese (T)","language":"Chinese (T)","isFoil":false},{[...]
