<div class="sorting">
  <!-- Add sorting -->
</div>

<div class="card-index">
  <table class="card-table">
    <tr>
      <th>
        Name
      </th>
    </tr>

    <% @cards.each do |card| %>

      <tr>
        <td>
          <%= link_to card.name, card_path(card), class: 'card-list' %>
        </td>
      </tr>
    <% end %>
  </table>
  <div class="apple_pagination card-nav">
    <div class="page_info">
      <%= page_entries_info @cards %>
    </div>
    <%= will_paginate @cards, :container => false %>
  </div>
</div>
