.card-index{
  margin: auto;
  width: 33%;
}

.alternate-index{
  margin: auto;
  width: 60%;
}

.card-table{
  margin: auto;
  border: 1px solid white;
  border-collapse: collapse;
  background-color: #7F7F7F;
  width: 100%;
  tr{
    border: 1px solid white; 

    td, th{ 
      border: 1px solid white;
    }
  }
}

.card-list{
  display: block;
  color: black;
  &:hover{
    color: white;
  }
}

.card-container{
  margin: auto;
  width: 50%;
  border: 3px dotted white;
  padding: 10px;
  overflow: hidden;
}

.card{
  border: 5px solid black;
  border-radius: 15px;
  display: inline-block;
  float: left;
}

.card-info{
  padding: 2%;
  background-color: black; 
  color: white;
  overflow: hidden;
  display: inline-block;
  background-size: cover;
  margin-left: 5%;
  width: 50%;
  height: 20em;
}

.card-options{
  color: black;
}

.sorting{
  text-align: center;
}

.card-nav{
  color: white;
}

.sort-link{
  color: white;
  margin: auto;

  &:hover{
    color: white;
  }
}
